#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.resultado-prompt {
  padding: 20px;
  width: auto;
  display: flex;
  flex-direction: row;
}

.Imagen-0, .Imagen-1 {
  margin: 0 10px;
}

.image {
  max-width: 400px;
  height: auto;
  cursor: pointer;
  will-change: filter;
  transition: filter 300ms;
}

.image:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.resultado-prompt img {
  max-width: 100%;
  height: 300px;
}

.panel-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E9E9F5;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.panel-input input {
  width: 100%;
  color: #000000;
  background-color: transparent;
  width: 100%;
  padding: 5px;
  border: transparent;
  border-radius: 4px;
  font-size: 16px;
}

.panel-input input:focus {
  outline: none;
}
.panel-input button:enabled {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}

.panel-input button:disabled { 
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 4px 8px;
    background-color: transparent;
    cursor: default;
}

.text-input {
    width: 100%;
  }

.send-button {
  float: left;
}

.link-azure {
  color: #a8a6a6;
}

.modal-content {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
}

.tools {
  position: absolute; 
  top: 0;             
  right: 0;            
  margin: 10px;         
}

.modal-content button:enabled {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 4px 8px;
  background-color: rgb(198, 196, 196);
  cursor: pointer;
}

.modal-content button:hover {
  border-color: #dbdbe6;
  background-color: #dbdbe6;
  border-width: 2px;
}

.editor {
  padding: 20px;
  width: 850px;
  height: 600px;
  display: flex;
}
